@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body{
    background: #F9F9F9;
    font-family: 'Inter', sans-serif;
}

.nav{
    text-decoration: none;
    color: black;
}
.nav ul{
    height: 58px;
    display: flex;
    padding: 8px;
    list-style: none;
    position: relative;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    margin-top: 61px;
    background-color: #ececec;
    border-radius: 20px;
}
.nav li a{
    margin: 0 25px;
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.navbox{
    display: block;
    width: 630px;
    height: 58px;
    flex-shrink: 0;
    background-color: #ececec;
    margin-left: 28%;
    border-radius: 20px;
}

.pic{
    position: absolute;
    max-width: 175px;
    max-height: 473px;
    margin-top: 4%;
    margin-left: 43.5%;
}